
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: url("pinkbg.gif");
  background-size: cover;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 150px;
  color: white;
  text-shadow: 3px 3px #6a6a6a;
  position: absolute;
  top: 40px;
  left: 180px;
}

.filter {
  margin-left: 60px;
}

.faces {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  flex-direction: column;
}

.faces img {
  height: 350px;
  z-index: 1;
  border: 15px solid #ff96cb;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.slidecontainer {
  width:38%;
  position: absolute;
  justify-content: center;
  top: 600px;
  z-index: 1;
}

.words {
  position: relative;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-fill-color: #ffff;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #ff99cc;
}

.slider{
  width: 150px;
  height: 15px;
  border-radius: 5px;
  background: #ffff;
  outline: none;
}

input[type=range].slider {
  width: 100%;
  margin: 70px 0;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
}

.comments {
  border: 15px solid #ff96cb;
  border-radius: 10px;
  margin-top: 140px;
  max-height: 60vh;
  overflow: scroll;
}

.comments p{
  margin: 15px;

}

p {
background: #ffff;
border: 1.5px solid black;
border-radius: 10px;
text-align: center;
max-width: 20vw;
padding: 10px;
}

.statement {
margin-left: 50px;
padding-bottom: 100px;
}

.statement p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 30px;
  max-width: 90vw;
  border: 3px solid black;
}

.statement2 {
  padding: 20px;
  font-size: 20px;
  margin: 50px;
  text-align: center;
  max-width: 90vw;
}
